# Working with NamedTuples

Problem:

- We have a list of kings
- We want to store their names and ages of death as Python data
- We want that data to be easy to read and easy to write

## Basic Approach: Tuple

In [2]:
#index 0 => Name
#index 1 =>Age at Death
charles = ["Charles", 72]
print(charles)

['Charles', 72]

## Basic Approach: Dictionary

In [3]:
charles = {"name": "Charles", "age": 72}
charles

{'name': 'Charles', 'age': 72}

## Method 1: Collections

In [4]:
from collections import namedtuple

In [5]:
person = namedtuple("person", ["name", "age"])

In [9]:
charles1 = person("Charles", 72)
charles1

person(name='Charles', age=72)

In [10]:
henry = person("Henry", 56)
henry

person(name='Henry', age=56)

## Method 2: NamedTuple

In [11]:
from typing import NamedTuple

In [12]:
person2 = NamedTuple(
    "person",
    [
        ["name", str],
        ["age", int]
    ]

)

In [16]:
charles2 = person("Charles", 72)

In [19]:
charles2.age

72

## Method 3: NamedTuple as a Class

In [20]:
class person3(NamedTuple):
    name: str
    age: int

In [21]:
charles3 = person3("Charles", 72)

In [22]:
charles3

person3(name='Charles', age=72)

In [23]:
charles.name

'Charles'

## Method 4

In [24]:
from dataclasses import dataclass

In [25]:
@dataclass
class Person4:
    name: str
    age: int

In [26]:
charles4 = Person4("Charles", 72)

In [28]:
charles4.name

'Charles'