# Working with NamedTuples

## Method 1: Collections

In [1]:
from collections import namedtuple

In [6]:
person = namedtuple("person", ["name", "age"])

In [7]:
charles = person("Charles", 72)
henry = person("Henry", 60)

In [12]:
print(charles)

person(name='Charles', age=72)

In [13]:
charles.name

'Charles'

In [14]:
charles.age

72

In [15]:
henry.name

'Henry'

In [16]:
henry.age

60

## Method 2: NamedTuple

In [11]:
from typing import NamedTuple

In [12]:
person2 = NamedTuple("person", [
    ["name", str],
    ["age", int]
])

In [13]:
charles2 = person2("Charles", 72)

In [14]:
charles2

person(name='Charles', age=72)

In [15]:
charles2.name

'Charles'

In [25]:
charles2.age

72

## Method 3: NamedTuple as a Class

In [16]:
class Person3(NamedTuple):
    name: str
    age: int

In [17]:
charles3 = Person3("Charles", 72)

In [18]:
charles3

Person3(name='Charles', age=72)

## Method 4: Dataclass property

In [1]:
from dataclasses import dataclass

In [3]:
@dataclass
class Person4:
    name: str
    age: int

In [4]:
charles = Person4("Charles", 72)

In [5]:
charles

Person4(name='Charles', age=72)